<h1>Edit Listing</h1>
<div class="edit-container">
  <%= render "form", home: @home %>

  <br>

  <div>
    <%= link_to "Show this home", @home %> |
    <%= link_to "Back to homes", homes_path %>
  </div>
</div>