<p style="color: green"><%= notice %></p>

<h1>
Listings
</h1>

<div id="homes">
  <% @homes.each do |home| %>
  <div>
    <%= render home %>
    <p>
      <%= link_to "Show this home", home %>
    </p>
  </div>
  <% end %>
</div>

